.language-container {
  height: calc(100% - 100px);
  min-height: 100%;
}

.hidden-text-one-container {
  padding: 20px;
}

.language-main-text-one {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee8d5;
  font-family: monospace;
  padding: 20px;
  font-size: 14pt;
}

.language-quote-container {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.language-quote {
  margin-bottom: 50px;
  font-family: Lora, serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
